In [60]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [61]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,49.08,82,14,6.82,AU,2021-06-03 22:59:28
1,1,Byron Bay,-28.6500,153.6167,65.05,66,0,10.63,AU,2021-06-03 22:58:36
2,2,Waipawa,-41.4122,175.5153,56.03,72,59,5.48,NZ,2021-06-03 22:59:29
3,3,Libreville,0.3925,9.4537,80.62,89,20,9.22,GA,2021-06-03 22:59:29
4,4,Son La,21.3167,103.9000,71.96,94,100,1.97,VN,2021-06-03 22:59:29

In [62]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [63]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [64]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [65]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [70]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Libreville,0.3925,9.4537,80.62,89,20,9.22,GA,2021-06-03 22:59:29
6,6,Hithadhoo,-0.6000,73.0833,83.55,70,100,18.19,MV,2021-06-03 22:59:30
8,8,Butaritari,3.0707,172.7902,83.17,75,93,10.83,KI,2021-06-03 22:59:30
11,11,Vaini,-21.2000,-175.2000,77.16,78,20,4.61,TO,2021-06-03 22:59:31
22,22,Touros,-5.1989,-35.4608,76.10,76,17,11.81,BR,2021-06-03 22:59:34
31,31,Sakakah,29.9697,40.2064,85.57,19,0,4.21,SA,2021-06-03 22:59:36
34,34,Itoman,26.1247,127.6694,84.58,94,75,14.97,JP,2021-06-03 22:59:37
40,40,Cacu,-18.5567,-51.1308,76.46,38,67,3.33,BR,2021-06-03 22:59:39
47,47,Atuona,-9.8000,-139.0333,79.18,82,44,18.10,PF,2021-06-03 22:59:41
48,48,Avarua,-21.2078,-159.7750,78.85,73,20,12.66,CK,2021-06-03 22:59:41

In [71]:
preferred_cities_df.count()

City_ID       177
City          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
Country       177
Date          177
dtype: int64

In [72]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Libreville      GA     80.62   0.3925    9.4537
6    Hithadhoo      MV     83.55  -0.6000   73.0833
8   Butaritari      KI     83.17   3.0707  172.7902
11       Vaini      TO     77.16 -21.2000 -175.2000
22      Touros      BR     76.10  -5.1989  -35.4608
31     Sakakah      SA     85.57  29.9697   40.2064
34      Itoman      JP     84.58  26.1247  127.6694
40        Cacu      BR     76.46 -18.5567  -51.1308
47      Atuona      PF     79.18  -9.8000 -139.0333
48      Avarua      CK     78.85 -21.2078 -159.7750

In [73]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Libreville,GA,80.62,0.3925,9.4537,Hotel Re-Ndama
6,Hithadhoo,MV,83.55,-0.6000,73.0833,Scoop Guest House
8,Butaritari,KI,83.17,3.0707,172.7902,Isles Sunset Lodge
11,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
22,Touros,BR,76.10,-5.1989,-35.4608,INN NEW HORIZON
31,Sakakah,SA,85.57,29.9697,40.2064,Fakhamat Al Orjoana Apartment
34,Itoman,JP,84.58,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
40,Cacu,BR,76.46,-18.5567,-51.1308,Império Hotel
47,Atuona,PF,79.18,-9.8000,-139.0333,Villa Enata
48,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

In [75]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [76]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [78]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))